@font-face {
    font-family: 'CHOGOONCHICKENSCRATCHV3';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-2@1.0/CHOGOONCHICKENSCRATCHV3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
}

.profile-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-content-area {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.profile-content-area>img {
    min-height: 100%;
}

.profile-content-area>table {
    height: fit-content;
    font-size: 1.5rem;
}

.content-left {
    width: 30%;
}

.content-right {
    width: 60%;
}

.hello {
    font-size: 2.45rem;
    border-width: 0.125rem;
    border-style: solid;
}

/* 
.profile-content-title_script {
    text-align: center;
} */

/* .profile-content-area {
    padding: 11.0625rem;
}

table tr td:nth-child(1) {
    color: blue;
}

table {
    font-size: 2.2em;
    border-collapse: separate;
    border-spacing: 1.875rem;
}

.profile-content-title {
    font-size: 2.45rem;
    font-weight: bold;
} */

/* .profile-content-intro {
    align-items: flex-end;
    font-size: 2.45rem;
    border-width: 0.125rem;
    border-style: solid;
    border-radius: 30%;
} */

/* .profile-area {
    flex-direction: column;
} */