@font-face {
    font-family: 'CHOGOONCHICKENSCRATCHV3';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-2@1.0/CHOGOONCHICKENSCRATCHV3.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
}

.profile-content-title_script {
    text-align: center;
}

.profile-content {
    justify-content: space-between;
}