@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'Pretendard-Regular';
    background-color: #EFF2F8;
}

/* header css */
header {
    display: flex;
    justify-content: space-between;
    background: white;
    border: black solid;
}

header div {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

header ul > li {
    list-style: none;
    float: left;
    margin: 2vw;
}

header ul > li > a {
    text-decoration-line: none;
    color: black;
    font-weight: bold;
}

/* main css */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner img {
    border: 1px solid;
}

.banner > h2 {
    align-items: flex-start;
}

.team_item {
    list-style: none;
}

/* footer css */
footer {
    display: flex;
    justify-content: center;
}

footer button {
    border-color: transparent;
    background-color: transparent;
}

footer button img {
    width: 30px;
    height: 30px;
}







/* animation effect */
.name_btn1:hover span:nth-child(1) {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 20px;
    color: #4e4c83;
    animation-delay: .1s;
  }
  
  .name_btn1:hover span:nth-child(2) {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 20px;
    color: #4e4c83;
    animation-delay: .2s;
  }
  
  /* -----bob - animation----- */
  .name_btn1:hover span:nth-child(3) {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 20px;
    color: #4e4c83;
    animation-delay: .3s;
  }
  
  
  .name_btn2:hover span:nth-child(1) {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 20px;
    color: #a05113;
    animation-delay: .1s;
  }
  
  /* -----alice - animation----- */
  .name_btn2:hover span:nth-child(2) {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 20px;
    color: #a05113;
    animation-delay: .2s;
  }
  
  .name_btn2:hover span:nth-child(3) {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 20px;
    color: #a05113;
    animation-delay: .3s;
  }
  
  /* -----eve - animation----- */
  .name_btn3:hover span:nth-child(1) {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 20px;
    color: #ab317f;
    animation-delay: .1s;
  }
  
  .name_btn3:hover span:nth-child(2) {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 20px;
    color: #ab317f;
    animation-delay: .2s;
  }
  
  .name_btn3:hover span:nth-child(3) {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce .3s ease infinite alternate;
    font-size: 20px;
    color: #ab317f;
    animation-delay: .3s;
  }
  
  @keyframes bounce {
    100% {
      top: -30px;
    }
  }
